
{% extends "layout/base.html" %}

{% block title %}Ask{% endblock %}

{% block content %}
{% load static %}
    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>{{ user }}</h1>
        <table class="w3-table-all w3-panel w3-card">
            <tr>
                <th>Question</th>
                <th>Correctly</th>
                <th>Wrongly</th>
            </tr>
            {% for answer in user.answers.all %}
            <tr>
                <td>
                    {{ answer.question.text }}
                </td>
                <td>
                    <span class="w3-text-green">{{ answer.correctly }}</span>
                </td>
                <td>
                    <span class="w3-text-red">{{ answer.wrongly }}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
