
{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Ask{% endblock %}

{% block content %}
{% load static %}
    <div class="w3-half w3-panel">

        <div class="w3-panel w3-white w3-card-4 w3-round">
            <h3 class="w3-center">Login</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="w3-right w3-panel">
                    <a href="{{ pawn.url }}" class="w3-btn">
                        <i class="fa fa-user-plus"></i>
                        Sign up
                    </a>
                    <button type="submit" class="w3-btn w3-theme w3-round w3-card">
                        Login
                        <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
 
{% endblock %}
