{% extends "layout/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pawns{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>{{ group }}</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        {% for pawn in group.pawns.all %}
            {{ pawn }}

            {% for question in pawn.openQuestions.all %}
                <li>
                    {{ question }}
                </li>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
