{% extends "layout/base.html" %}
{% load answered %}

{% block title %}Partis - {{ group }}{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>{{ pawn }} - {{ group }}</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round w3-padding">
        <b>Pawn</b>: {{ pawn }}
        <div class="w3-container">
            {% for question in pawn.openQuestions.all %}
                <b>Domanda</b>: {{ question }}
                <div class="w3-container">
                    {% for answer in question.answers.all %}
                        <b>Risposta</b>: {{ answer.text }} - <b>Utente</b>: {{ answer.user }}
                        <div class="w3-container">
                            <b>Punti</b>: 
                            {{ answer.judges.all|join:', ' }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round w3-padding">
        <table class="w3 table all">
            
            {% for k, v in stats.items %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>



{% endblock %}
