{% extends "layout/base.html" %}
{% load answered %}

{% block title %}Partis - {{ group }}{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>{{ group }}</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        {% for pawn in group.pawns.all %}
        <div class="w3-panel">
            <h1 class="w3-left">{{ pawn }}</h1>
            <div class="w3-right">
                <form method="post">
                    <a href="{% url 'group_partis_stats' id=group.id pawn_id=pawn.id %}" class="w3-btn w3-card w3-round w3-theme">
                        <i class="fa fa-list"></i>
                        Risultati
                    </a>
                    <a href="{% url 'group_partis_reset' id=group.id pawn_id=pawn.id %}" class="w3-btn w3-card w3-round w3-theme">
                        <i class="fa fa-trash"></i>
                        Cancella risposte
                    </a>
                    <input type="hidden" name="pawn_id" value="{{ pawn.id }}">
                    {% csrf_token %}
                    {% if pawn.partis_run %}
                        <button type="submit" class="w3-btn w3-card w3-round w3-theme">
                            <i class="fa fa-star-half-o"></i>
                            Disabilita autovalutazione
                        </button>
                    {% else %}
                        <button type="submit" class="w3-btn w3-card w3-round w3-border w3-border-theme">
                            <i class="fa fa-star-half-o"></i>
                            Abilità autovalutazione
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
        <table class="w3-table-all w3-margin-bottom w3-margin-top">
            <tr>
                <td></td>
                {% for user in group.user_set.all %}
                    <td>{{ user }}</td>
                {% endfor %}
            </tr>
            {% for question in pawn.openQuestions.all %}
            <tr>
                <td>
                    {{ question }}
                </td>
                {% for user in group.user_set.all %}
                    <td>
                        {% if question|answered:user %} 
                            <i class="fa fa-check"></i>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %} 
        </table>
        {% endfor %}
    </div>



{% endblock %}
