{% extends "_panel.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% for question in pawn.open_questions %}
        <label class="w3-meargin-bottom">
            <p>
                {{ question }}
            </p>
            <textarea name="q_{{ forloop.counter }}" class="w3-input w3-card w3-round"></textarea>
        </label>
    {% endfor %}
    <div class="w3-right w3-panel">
        <a href="" class="w3-btn w3-card w3-round w3-white">
            <i class="fa fa-arrow-left"></i>
            Annulla
        </a>
        <button class="w3-btn w3-card w3-round w3-theme">
            Conferma
            <i class="fa fa-check"></i>
        </button>
    </div>
</form>


{% endblock %}