{% extends "_panel.html" %}

{% block content %}
    <a href="{{ pawn.url }}" class="w3-btn w3-display-container w3-block w3-hover-theme">
        {% if pawn.number %}
            <b class="w3-round w3-black w3-display-topleft w3-padding w3-card">{{ pawn.number }}</b>
        {% endif %}

        {% if pawn.image %}
            <img src="{{ pawn.image.url }}" style="max-width: 40%; max-height: 150px;" class="w3-round w3-border w3-border-theme w3-card w3-white w3-padding w3-left">
            <p class="w3-center">{{ pawn|truncatechars:32 }}</p>
        {% else %}
            <p class="w3-center">{{ pawn|truncatechars:32 }}</p>
        {% endif %}
        <div class="w3-margin-bottom">
            {% if pawn.quiz %}
                <span title="questions" class="w3-padding">
                    {{ pawn.all_questions|length }}
                    <i class="fa fa-question-circle"></i>
                </span>
            {% endif %}
            {% if pawn.coze %}
                <span title="coze" class="w3-padding">
                    {{ pawn.all_sentences|length }}
                    <i class="fa fa-th-list"></i>
                </span>
            {% endif %}
            {% if pawn.exam %}
                <span title="exam" class="w3-padding">
                    <i class="fa fa-asterisk"></i>
                </span>
            {% endif %}
        </div>
    </a>
{% endblock %}