<div class="w3-panel w3-white w3-card-4 w3-round">
    <div class="w3-row">
        <h3 class="w3-left">Coze test
            <sub>
                <span class="w3-small">{{ pawn.all_sentences|length }} Frasi</span>
            </sub>
        </h3>
        {% if user.is_superuser %}
            <div class="w3-right w3-margin">
                {% include 'partials/abutton-admin.html' with url=pawn.url_newSentence title='New questions' icon='plus'%}
            </div>
        {% endif %}
    </div>
    <div class="w3-panel w3-center">
        {% if pawn.all_sentences %}
            {% include 'partials/abutton.html' with url=pawn.url_cozePlay title='Play' icon='play' label='Play'%}
            {% include 'partials/abutton.html' with url=pawn.url_cozeChoice title='Scegli' icon='check-square-o' label='Scegli'%}
        {% endif %}
    </div>
    <table class="w3-table-all w3-card w3-margin-bottom">
        {% for sentence in pawn.sentences.all %}
        <tr>
            <td>
                {{ sentence|safe }}
            </td>
            {% if user.is_superuser %}
            <td>
                <a href="{{ sentence.url_edit }}" class="w3-btn w3-round w3-theme w3-right" title="edit sentence">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{{ sentence.url_delete }}" class="w3-btn w3-round w3-theme" title="delete sentence">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
</div>