{% extends "_panel.html" %}

{% block content %}
    <div class="w3-col m8">
        <div class="w3-left">
            {% if pawn.parent %}
                {% include 'partials/abutton.html' with url=pawn.parent.url title=pawn.parent icon="arrow-left" class="w3-left w3-margin-right w3-margin-top"%}
            {% endif %}
            <h1 class="w3-right">{{ pawn }}</h1>
        </div>
    </div>
    <div class="w3-col m4">
        <div class="w3-right w3-margin">
            {% if pawn.exam %}
                {% include 'partials/abutton.html' with url=pawn.url_exam label='Esame' title='Try exam' icon='asterisk'%}
            {% endif %}
            {% if pawn.is_public %}
                {% include 'partials/abutton.html' with url=pawn.url_explore label='Esplora' title='Explore' icon='crosshairs'%}
            {% endif %}
            {% if user == pawn.user or user.is_superuser %}
                {% include 'partials/abutton-admin.html' with url=pawn.url_new title='New pawn' icon='plus'%}
                {% include 'partials/abutton-admin.html' with url=pawn.url_edit title='Edit pawn' icon='edit'%}
                {% include 'partials/abutton-admin.html' with url=pawn.url_delete title='Delete pawn' icon='trash'%}
            {% endif %}
        </div>
    </div>
{% endblock %}

    