{% extends "_panel.html" %}
{% load answered %}

{% block content %}
    <div class="w3-row">
        <h3 class="w3-left">
            <i class="fa fa-film"></i>
            Partis
            <sub class="w3-small">{{ pawn.all_openQuestions|length }} Domande</sub>
        </h3>
        {% if user.is_superuser %}
            <div class="w3-right w3-margin">
                {% include 'partials/abutton-admin.html' with url=pawn.url_newOpenQuestion title='New open question' icon='plus'%}
            </div>
        {% endif %}
    </div>
    <table class="w3-table-all w3-card w3-margin-bottom">
        {% for question in pawn.openQuestions.all %}
            <tr>
                <td>
                    {{ question }}
                </td>
    
                {% if user.is_superuser %}
                <td>
                    {% include 'partials/abutton-admin.html' with url=question.url_edit title='Edit question' icon='edit'%}
                    {% include 'partials/abutton-admin.html' with url=question.url_delete title='Delete question' icon='trash'%}
                    {% include 'partials/abutton-admin.html' with url=question.url_answers title='View answers' icon='list'%}
                </td>
                {% else %}
                <td>
                    {% if question|answered:user %} 
                        {% include 'partials/abutton.html' with url=question.url_answer title='Facile' icon='play-circle' color='green' label='Modifica risposta'%}
                    {% else %}
                        {% include 'partials/abutton.html' with url=question.url_answer title='Facile' icon='play-circle' label='Rispondi'%}
                    {% endif %}
                    
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}