{% extends "layout/base.html" %}

{% block title %}Pawns{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>Pawns</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <form action="" method="post">
            {% csrf_token %}
            <textarea name="questions" class="w3-input" rows="20"
            >{% for question in pawn.questions.all %}{{ question.text }}?{{ question.correct }};{{ question.a1 }};{{ question.a2 }};{{ question.a3 }}.{% endfor %}</textarea>
            <div class="w3-panel w3-right">
                <a href="{{ pawn.url }}" class="w3-btn">
                    Back
                    <i class="fa fa-arrow-left"></i>
                </a>
                <button type="submit" class="w3-btn w3-card w3-round">
                    Save
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
