{% extends "layout/base.html" %}

{% block title %}Pawns{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>Pawns</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <div class="w3-row w3-panel">
            {% for pawn in pawns %}
                <div class="w3-col m4 l3 w3-margin">
                    <a href="{{ pawn.url }}" class="w3-btn w3-block w3-round w3-hover-theme w3-border w3-border-theme w3-card-4">
                        <h3>
                            {{ pawn }}
                        </h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
