{% extends "layout/base.html" %}

{% block title %}Pawns{% endblock %}

{% block content %}
    <div class="w3-panel w3-white w3-card w3-round">
        <h1 class="w3-left">Pawns</h1>
        {% if user.is_superuser %}
            <div class="w3-right w3-margin">
                <a href="{% url 'pawn.new' %}" class="w3-btn w3-round w3-theme" title="add pawn">
                    <i class="fa fa-plus"></i>
                    Nuovo Pawn
                </a>
            </div>
        {% endif %}
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <div class="w3-right w3-panel">
            {% url 'pawn.new' as url  %}
            {% include "partials/abutton.html" with title="Nuovo" icon='plus-circle' url=url %}
        </div>
        {% include 'pawns/_childs.html' with pawns=pawns %}
    </div>
{% endblock %}
