{% extends 'layout/base.html' %}

{% block title %}
    Pawn - {{ pawn }}
{% endblock %}

{% block content %}
    {% include './_bar-coming-soon.html' %} <!-- da verificare -->
    {% include './_header.html' %} <!-- ok -->
    {% include './_content.html' %} <!-- ok -->
    {% include './_childs.html' %} <!-- ok -->
    {% if pawn.quiz %}
        {% include './_quiz.html' with col=6 %} {% endif %}
    {% if pawn.coze %}
        {% include './_coze.html' with col=6 %} {% endif %}
{% endblock %}
