{% extends 'layout/base.html' %}

{% block title %}
    Pawn - {{ pawn }}
{% endblock %}

{% block content %}
    {% include './_bar-coming-soon.html' %}
    {% include './_header.html' %}
    <div class="w3-row">
        <div class="w3-col m3 w3-padding">
            <div class="w3-white w3-padding w3-card w3-round">
                {% if pawn.image %}
                    <img src="{{ pawn.image.url }}" class="w3-round w3-block">
                {% else %}
                    <img src="rfdsf" alt=""  class="w3-round w3-block">
                {% endif %}
            </div>
        </div>
        <div class="w3-col m9 w3-padding">
            <div class="w3-card w3-round w3-white w3-padding w3-large">
                {{ pawn.text|safe|default:'[Nessuna descrizione]' }}
            </div>
        </div>
    </div>
    {% include './_childs.html' with pawns=pawns %}
    <div class="w3-row">
        {% if pawn.quiz %}
        <div class="w3-col m6 w3-padding">
            {% include './_quiz.html' %}
        </div>
        {% endif %}
        {% if pawn.coze %}
        <div class="w3-col m6 w3-padding">
            {% include './_coze-test.html' %}
        </div>
        {% endif %}
    </div>

{% endblock %}
