{% extends "layout/base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="w3-panel w3-card-4 w3-round w3-white">
    <h1>Utenti</h1>
    <div class="w3-panel">
        {% url 'signup' as url %}
        {% include 'partials/abutton-admin.html' with url=url title='Nuovo utente' icon='user-plus' class='w3-right'%}
    </div>
    <table class="w3-table-all w3-card w3-margin-bottom">
        {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>
                    {% include 'partials/abutton-admin.html' with url=user.url title='Profilo' icon='user'%}
                    {% include 'partials/abutton-admin.html' with url=user.url_reset title='Reset password' icon='key'%}
                    {% include 'partials/abutton-admin.html' with url=user.url_delete title='Elimina account' icon='trash'%}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="w3-panel w3-card-4 w3-round w3-white">
    <h1>Gruppi</h1>
    <div class="w3-panel">
        {% url 'core.group.new' as url %}
        {% include 'partials/abutton-admin.html' with url=url title='Nuovo gruppo' icon='plus' class='w3-right'%}
    </div>
    <table class="w3-table-all w3-card w3-margin-bottom w3-margin-top">
        {% for group in groups %}
            <tr>
                <td>{{ group }}</td>
                <td>{{ group.user_set.all|join:', ' }}</td>
                <td>
                    <a href="{% url 'core.group.edit' id=group.id %}" class="w3-btn w3-round w3-card w3-theme">
                        Modifica <i class="fa fa-edit"></i>
                    </a>

                    <a href="{% url 'core.group.delete' id=group.id %}" class="w3-btn w3-round w3-card w3-red">
                        Elimina <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="w3-panel w3-card-4 w3-round w3-white">
    <h1>Domande errore</h1>
    <table class="w3-table-all w3-card w3-margin-bottom">
        {% for question in questions %}
            {% if question.error %}
                <tr>
                    <td>{{ question }}</td>
                    <td>
                        {% include 'partials/abutton-admin.html' with url=question.url_edit title='Edit question' icon='edit'%}
                        {% include 'partials/abutton-admin.html' with url=question.url_delete title='Delete question' icon='trash'%}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}
