{% extends "layout/base.html" %}

{% block title %}Index{% endblock %}

{% load static %}
{% block content %}
    <div class="" style="max-width: 800px; margin: auto;">

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <img class="w3-left w3-margin" style="width: 5em" src="{% static "img/loco.png" %}" alt="logo Fedro">
        <img class="w3-right w3-margin w3-hide-small" style="width: 5em" src="{% static "img/loco.png" %}" alt="logo Fedro">
        <h1 class="w3-center">Fedro.io</h1>
        <h3 class="w3-center w3-text-grey w3-small">
            "Apprendimento efficace, potenziato dal gioco." <sub>cit. GPT 4o</sub>
        </h3>
    </div>

    <div class="w3-panel w3-row">
        {% for pawn in pawns %}
        <div class="w3-col m6  w3-padding">
            <div class="w3-panel w3-white w3-card w3-round">
                <h3 class="w3-center">{{ pawn }}</h3>
                <p class="w3-margin">
                    {{ pawn.text|truncatechars:32 }}
                </p>
                {% if pawn.image %}
                <div class="w3-container w3-padding">
                    <img src="{{ pawn.image.url }}" class="w3-round w3-block">
                </div>
                {% endif %}
                <div class="w3-panel w3-right">
                    <a href="/pawns/icdl" class="w3-btn w3-white w3-card w3-round">
                        Raggiungi il Pawn
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
            {% endfor %}
        
    </div>

    <div class="w3-white w3-card-4 w3-round w3-row">
        <div class="w3-third w3-round w3-panel w3-center">
            <a href="{% url 'pawns' %}" class="w3-btn w3-border-theme w3-border w3-card w3-round">
                <h3>
                    Pawns
                    <i class="fa fa-sitemap"></i>
                </h3>
            </a>
            <p>            
                Abbiamo creato un sistema gerarchico che organizza la conoscenza in singoli <strong>Pawn</strong> (pedoni), semplificando l'apprendimento e la gestione delle informazioni.
            </p>
        </div>
        <div class="w3-third w3-round w3-panel w3-center">
            <a href="{% url 'pawns' %}" class="w3-btn w3-border-theme w3-border w3-card w3-round">
                <h3>
                    Quiz
                    <i class="fa fa-question-circle"></i>
                </h3>
            </a>
            <p>            
                I nostri <strong>Quiz</strong> legano ogni "pawn" a domande, semplificando l'apprendimento e il monitoraggio, con opzioni per competere o accedere anonimamente.
            </p>
        </div>
        <div class="w3-third w3-round w3-panel w3-center">
            <a href="{% url 'pawns' %}" class="w3-btn w3-border-theme w3-border w3-card w3-round">
                <h3>
                    Community
                    <i class="fa fa-users"></i>
                </h3>
            </a>
            <p>            
                La possibilità di autenticarsi permette di tenere traccia dei progressi e delle esercitazioni lungo i vari pawn
            </p>
        </div>
    </div>
        <div class="w3-card-4 w3-round w3-theme">
            <p class="w3-center">
                &copy; 2024 Fedro.io
            </p>
        </div>
    </div>
</div>
   
{% endblock %}
