{% extends "layout/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>Fedroio</h1>
    </div>
    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3>Questions</h3>
        <p>Attualmente nel sito sono memorizzate <b>{{ questions.count }}</b> domanda a risposta chiusa e <b>{{ sentences.count }}</b> frasi primitive per creare i coze-test</p>
    </div>
   
    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3>Pawns</h3>
        <p>
            Nel nostro sistema, abbiamo sviluppato una struttura dati gerarchica innovativa, progettata per schematizzare e organizzare la conoscenza
            proveniente da diversi ambiti in un unico sistema generalizzato. Alla base di questa struttura vi è il concetto di <strong>pawn</strong> (pedone), che rappresenta
            l'unità primitiva e fondamentale del nostro modello.
        </p>
        <p class="w3-card w3-round w3-border w3-border-theme w3-margin w3-padding">
            Ad esempio, l'ICDL è un "pawn", suddiviso a sua volta in moduli, ciascuno dei quali rappresenta anch'esso un "pawn". Ogni modulo è ulteriormente articolato
            in capitoli, che costituiscono ulteriori "pawns", e così via fino ai paragrafi.
        </p>
        <p>
            Grazie a questa logica gerarchica, siamo in grado di schematizzare corsi universitari, libri, seminari, progetti e molte altre forme di conoscenza in modo strutturato
            e coerente. Questo approccio ci consente di offrire una mappatura precisa e organizzata delle informazioni, facilitando l'apprendimento e la gestione dei contenuti.
        </p>
    </div>
      
    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3 id="sapphires">Sapphires</h3>
        <p>
            Il sistema utilizza una valuta virtuale denominata <strong>Sapphires</strong> per premiare gli utenti in base ai loro risultati. Ogni utente può guadagnare
            Sapphires completando quiz, risolvendo esami e accumulando punti. Questo sistema incentiva l'apprendimento e la partecipazione, creando una dinamica
            divertente e motivante.
        </p>
        <p>
            I Sapphires non sono solo un riconoscimento simbolico: raggiunta una determinata soglia, gli utenti possono utilizzarli per creare nuovi <strong>pawns</strong>.
            Questo consente loro di contribuire direttamente alla crescita del sistema, arricchendolo con conoscenze, argomenti o contenuti strutturati di loro
            iniziativa. 
        </p>
        <p>
            Questo approccio offre un incentivo continuo all'apprendimento, premiando la dedizione e incoraggiando la collaborazione tra gli utenti. Ogni nuovo 
            pawn creato è un tassello in più nel nostro ecosistema di conoscenza, rendendo il sistema sempre più completo e coinvolgente.
        </p>
        <p class="w3-card w3-round w3-border w3-border-theme w3-margin w3-padding">
            <em>Esempio:</em> Completando un quiz con un punteggio elevato, un utente guadagna 50 Sapphires. Dopo aver accumulato 500 Sapphires, può creare un nuovo 
            pawn personalizzato, aggiungendo al sistema una nuova area tematica o un approfondimento specifico.
        </p>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3>Quiz</h3>
        <p>
            L'integrazione dei <strong>Quiz</strong> nel nostro sistema ha reso possibile associare a ciascun "pawn" una serie di domande a risposta multipla, facilitando l'apprendimento e
            la memorizzazione dei contenuti. Questa funzionalità, ispirata dalle simulazioni degli esami ICDL, consente non solo di consolidare le conoscenze acquisite,
            ma anche di monitorare i progressi attraverso punteggi e classifiche (in fase di sviluppo).
        </p>
        <p>
            Gli utenti autenticati possono visualizzare le classifiche e confrontare i propri risultati con quelli degli altri, creando un ambiente di apprendimento
            competitivo e stimolante. Tuttavia, offriamo anche la possibilità di accedere ai quiz in forma anonima, per permettere a chiunque di mettere alla prova le
            proprie conoscenze in modo semplice e immediato.
        </p>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3 id="coze">Coze Test</h3>
        <p>
            Abbiamo recentemente introdotto i Coze Test, una funzionalità che permette di associare a ogni "pawn" delle frasi significative. Il sistema poi presenta
            queste frasi agli utenti, nascondendo le parole principali e richiedendo che l'utente le completi correttamente. Questo approccio non solo aiuta a consolidare
            la comprensione del contenuto, ma offre anche un modo interattivo e coinvolgente per rinforzare la memoria e verificare la padronanza dei concetti chiave.
        </p>
        <p>
            
        </p>
    </div>
{% endblock %}
