{% extends "layout/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h1>Fedroio</h1>
    </div>

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3>Pawns</h3>
        <p>
            Nel nostro sistema, abbiamo sviluppato una struttura dati gerarchica innovativa, progettata per schematizzare e organizzare la conoscenza
            proveniente da diversi ambiti in un unico sistema generalizzato. Alla base di questa struttura vi è il concetto di "pawn" (pedone), che rappresenta
            l'unità primitiva e fondamentale del nostro modello.
        </p>
        <p>
            Ad esempio, l'ICDL è un "pawn", suddiviso a sua volta in moduli, ciascuno dei quali rappresenta anch'esso un "pawn". Ogni modulo è ulteriormente articolato
            in capitoli, che costituiscono ulteriori "pawns", e così via fino ai paragrafi.
        </p>
        <p>
            Grazie a questa logica gerarchica, siamo in grado di schematizzare corsi universitari, seminari, progetti e molte altre forme di conoscenza in modo strutturato
            e coerente. Questo approccio ci consente di offrire una mappatura precisa e organizzata delle informazioni, facilitando l'apprendimento e la gestione dei contenuti.
        </p>
    </div>
      

    <div class="w3-panel w3-white w3-card-4 w3-round">
        <h3>Quiz</h3>
        <p>
            L'integrazione dei Quiz nel nostro sistema ha reso possibile associare a ciascun "pawn" una serie di domande a risposta multipla, facilitando l'apprendimento e
            la memorizzazione dei contenuti. Questa funzionalità, ispirata dalle simulazioni degli esami ICDL, consente non solo di consolidare le conoscenze acquisite,
            ma anche di monitorare i progressi attraverso punteggi e classifiche.
        </p>
        <p>
            Gli utenti autenticati possono visualizzare le classifiche e confrontare i propri risultati con quelli degli altri, creando un ambiente di apprendimento
            competitivo e stimolante. Tuttavia, offriamo anche la possibilità di accedere ai quiz in forma anonima, per permettere a chiunque di mettere alla prova le
            proprie conoscenze in modo semplice e immediato.
        </p>
    </div>
{% endblock %}
